.article-left{
    max-width: 98%;

    &__img{

    }

    &__content{

    }

    &__impact-title{
        
        font-family: Open Sans,sans-serif;
        font-weight: 700;
        margin-bottom: 10px;  
        -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    a{
        font-size: 23px;
        text-decoration: none;
        color: #1c1c1c;
    }

    }


&__impact-body{
    font-family: Open Sans,sans-serif;

    -webkit-line-clamp: 4;
-webkit-box-orient: vertical;
display: -webkit-box;
overflow: hidden;
}
}

.article-right{
    max-width: 98%;
}
.title-right{
    font-size: 16px!important;
}

// .title-h{
//     height: 80px;
// }