.admin{
    background-color: #2f4050;
    &__user{
        display: flex;
        color: white;
        font-size: 20px;
        
    }
    &__link{
        text-decoration: none;
        color: white;
        font-size: 20px;
        >i{
            margin: 20px;
        }
        &:hover{
            color: red;
        }
    }

    &__children{
        background-color: rgb(244, 244, 244) ;
    }
}

.icons{
    font-size: 22px;
}
.btn-logout{
    &:hover{
        color: red;
        cursor: pointer;
    }
}