// #root *{
//     background-color: gray !important;
//     color: white;
// }
.btn-login{
  
  &:hover{
    color: red !important;
  }
}

.mt-6, .mb-6{
  margin-top: 60px;
}

.container{
  // width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  
  @media (min-width: 1200px){
    .col-lg-9{
      width: 70%;
    }
    .col-lg-3{
      width: 30%;
    }


    max-width: 1100px;
    }
    
    @media (max-width: 600px){
      
      margin: 0 auto;
      padding: 0 auto;
      max-width: 95%
      }
       
}

.img-fluid{
  max-width: 98%;
}

div, ul, h2 ,span,p {
  border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}
a{
  text-decoration: none;
}

.category{
  font-size: 12px;
  text-transform:uppercase;
  text-decoration: none;
  color: #EC0000;
  font-weight: 700;
}

.alert-error {
    background-color: #EC0000;;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
  }

  .title-header{
    
    // padding: 20px;
    position: relative;

    .title-header-h{
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 3px solid #f1f1f1;
      padding-bottom: 12px;
      margin-bottom: 0;
      // padding-top: 50px;
      // letter-spacing: .005rem;
      
      &::after{
        right: 0;
      margin: 0 auto;
        content: "";
        background-color: #c00;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 150px;
        height: 3px;
        box-shadow: none;
        -ms-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;

      }

      a{
        font-family: Open Sans,sans-serif;
        transform: scaleY(1.05);
        position: relative;
       
        color: #000;

        &:after{
          content: "";
    background-color: #c00;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -12px;
    width: 0;
    height: 3px;
    transition: width .3s ease;
    -ms-transition: width .3s ease;
    -moz-transition: width .3s ease;
    -webkit-transition: width .3s ease;
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
        }
      }
    }
  }